<h3 class="noblack">Phish Me</h3>

<p> Send a URL for the admin to click on. </p>
<p> Getting this link to an actual admin could be done many different ways. Email, a Twitter DM requesting support, etc... </p>

<form action="/phish" method="post">

  <label for="url">URL: </label> </br>
  <input id="url" name="url" type="text"  /> </br>

  <input type="submit" value="Get Wrecked" />

</form>
